{% extends "base.html" %}
{% load bootstrap4 %}+
{% load i18n %}
{% block content %}

<h1 class="my-4">

    Задачи

</h1>

<a class="nav-link" href="/tasks/create/">Создать задачу</a>


<div class="card mb-3">
  <div class="card-body bg-dark">
    <form role="form" method="get">
      {% bootstrap_form filter.form %}
      {% translate 'Show' as buttons_text %}
      {% bootstrap_button buttons_text button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Статус</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th>Дата создания</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="/tasks/{{task.id}}">{{task.name}}</a></td>
        <td>{{task.status}}</td>
        <td>{{task.creator}}</td>
        <td>{{task.executor}}</td>
        <td>{{task.timestamp}}</td>
        <td>
            <a href="/tasks/{{task.id}}/update/">Изменить</a>
            <br>
            <a href="/stasks/{{task.id}}/delete/">Удалить</a>
        </td>
    </tr>
    {% endfor %}


    {% endblock %}